@import '../../variable.scss';

.fullpage {
  height: calc(100vh - 87px);
  margin: 0 auto;
  text-align: center;

  overflow: hidden;
  font-family: Arial,
    Helvetica,
    sans-serif;

  .videoclass {

    position: absolute;
    width: 96%;
    z-index: 10;
    top: 10px;
    left: 0;
    margin-left: 2%;
    display: flex;
    max-height: 1032px;


    .content {
      width: 100%;
      margin-top: 20px;
      border-radius: 17px;
      background-color: #ececec;
      transition: height all 0.5s ease;

      .iframe {
        position: relative;
        height: 430px;
        border: 0;
        transition: height 0.5s ease;

      }



      .framedata {
        display: flex;

        padding: 20px;

        .icon {
          cursor: pointer;
        }

        .title {
          width: 15%;
          border-right: 2px solid #7c7c7c;
          font-size: 21px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
        }

        .tabcontent {
          width: 85%;
          padding: 0px 20px;

          .tabcontenttitle {
            display: flex;
            font-size: 21px;
            font-family: Arial,
              Helvetica,
              sans-serif;
            font-weight: bold;
            cursor: pointer;

            .pros {
              padding-right: 30px;
            }

            .pros.selected {
              color: #7c7c7c;
            }

            .prosopen {
              pointer-events: none;
            }

            .consopen {
              pointer-events: none;
            }

            .cons.selected {

              color: #7c7c7c;
            }
          }

          .tabcontentdata {
            background-color: #e1e1e1;

            padding: 10px 20px;
            margin-top: 10px;
            text-align: left;
            width: 100%;
            height: 180px;
            overflow: auto;
          }
        }
      }
    }

    .open {
      .iframe {
        height: 615px;
      }
    }

    .button {
      // font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
    }
  }

  .para {
    padding: 20px;
  }

  .grid_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 85%;
    margin: 0 auto;


    .grid {

      position: relative;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 242px;
      height: 436px;
      border-radius: 18px;
      display: flex;



      .text {
        width: 100%;
        padding: 10px 40px;
        // margin: 0 auto;
        //  font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin-top: 380px;
        color: #fff;

        vertical-align: top;
      }

      .play-btn {

        width: 84px;
        height: 84px;
        transition: all .3s;

        border: 5px solid #fff;
        background-color: #4646468f;
        background-size: 200% auto;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 35%;
        transform: translateY(-50%);
        border-radius: 50%;
        line-height: 94px;
        text-align: center;
        transition: .3s ease-in-out;
      }

      .play-btn:hover {
        box-shadow: 0 10px 30px #111;
        transition: .3s ease-in-out;

      }

      /*.play-btn:before {
                
                 content: "";
                 position: absolute;
                 top: 0px;
                 left: 0px;
                 width: 84px;
                 height: 84px;
                 border: 2px solid #fff;
                 border-radius: 50%;
                 -webkit-animation: my_zoom 3s linear .5s infinite;
                 animation: my_zoom 3s linear .5s infinite;
               
               }*/

      .play-icon {

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 26%;
        margin-left: 10px;

        img {

          height: 40px;
          width: 40px;
        }

      }

    }
  }

  .grid_container {
    .grid:hover {

      .circle {
        position: absolute;

        width: 84px;
        height: 84px;
        top: 40%;
        left: 35%;
        border-radius: 50%;
        line-height: 94px;
        text-align: center;

        border: 2px solid #fff;
        -webkit-animation: my_zoom 3s linear .5s infinite;
        animation: my_zoom 2s linear infinite;
      }
    }

    @-webkit-keyframes my_zoom {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
      }

      100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0
      }
    }

    @keyframes my_zoom {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .6
      }

      100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0
      }
    }


  }
}





@include lg {
  .fullpage {
    .grid_container {
      width: 100%;
      grid-template-columns: repeat(4, auto);

      .grid {

        border: 2px solid red;
        width: 200px;
        height: 340px;

        .text {
          margin-top: 280px;
          padding: 10px 15px;
        }
      }

    }
  }
}

@include md {
  .fullpage {
    .videoclass {
      .open {
        .iframe {
          height: 560px;
        }
      }

      .content {
        .framedata {
          .title {
            font-size: 16px;
          }

          .pros {
            font-size: 16px;
          }

          .cons {
            font-size: 16px;
          }
        }
      }
    }

    .grid_container {
      width: 100%;
      grid-template-columns: repeat(2, auto);

      .grid {

        // border: 2px solid green;
        width: 200px;
        height: 240px;
        margin-bottom: 10px;

        .text {
          margin-top: 180px;
          padding: 10px 15px;
          text-shadow: 2px 2px 4px #000000;
        }
      }

    }
  }
}

@include sm {
  .fullpage {
    .videoclass {
      .open {
        .iframe {
          height: 560px;
        }
      }

      .content {
        .framedata {
          .title {
            font-size: 16px;
          }

          .pros {
            font-size: 16px;
          }

          .cons {
            font-size: 16px;
          }
        }
      }
    }

    .grid_container {
      width: 100%;
      grid-template-columns: repeat(2, auto);

      .grid {

        // border: 2px solid green;
        width: 200px;
        height: 240px;
        margin-bottom: 10px;

        .text {
          margin-top: 180px;
          padding: 10px 15px;
          text-shadow: 2px 2px 4px #000000;
        }
      }

    }
  }
}