<div class="stackdisc">
  
  <div class="back_img">
    <div class="dummy" (click)="this.selectedIndex = -1"></div>
    <div>
      <div *ngFor="let item of stackdisk; let i = index" class="item"
        [ngClass]="{'active' : this.selectedIndex == i, 'not-selected' : item.selected != true }">
        <!-- <button class="btn" (click)="gotoItem(i)">{{i+1}}</button> -->
        <button class="btn" (click)="gotoItem(i)">{{i +1}}</button>
        <div class="description" *ngIf="this.selectedIndex == i">
          <div [innerHTML]="item.interctivity"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="text_title"><i>Click the explore the components of the Stack Disc Centrifuge.</i></div>
  <!-- <div class="bottomtext">
                  <ol>
                   <li>The product to be clarified enters the interior of the bowl through a stationary inlet pipe</li>
                     <li>The product is gently accelerated by the distributor to the bowl speed</li>
                       <li>The disk stack in the bowl causes the product stream to be divided up into many thin layers, creating a large
                            clarifying area. The solids are separated from the liquid within the disk stack</li>
                          <li>The high centrifugal force separates the solids and collected in the solids chamber of the bowl</li>
                        <li>A hydraulic system operates the sliding piston</li>
                      <li>Periodically ejects the separated solids at full speed of rotation via a solids cyclone (optional)</li>
                    <li>The clarified liquid flows out of the disk pack to a centripetal pump which discharges the liquid under pressure</li>
                  <li>Outlet of the clarified liquid</li>
                </ol>
             </div> -->


  <div class="text-center">
    <p class="text_title"><i>Click to view the working principle of the Stack Disc Centrifuge</i></p>
    <div class="flex fcenter">
      <a class="play-a" target="_blank" href="https://www.youtube.com/watch?v=bzXUiLajVlg">
        <div class="play-btn">
          <div>
            Stack Disc Centrifuge Technology
          </div>
          <div>
            <img src="assets/images/play.png" alt="YT">
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- <p class="flexalignend">Click &nbsp;<span><a target="blank" href="https://www.youtube.com/watch?v=bzXUiLajVlg"> <img
          src="assets/images/play.png"></a></span>
    &nbsp;to view the working principle of the Decanter Centrifuge.</p> -->
  <!-- <p class="primary_text"><b><i>Click to view the working principle of the Stack Disc Centrifuge:</i></b></p>
  <a href="https://www.youtube.com/watch?v=bzXUiLajVlg"
    target="blank">https://www.youtube.com/watch?v=bzXUiLajVlg</a>-->
</div>
