<div class="header">
  <div class="container">
    <div class="mainpage">

      <div class="para">
        <div class="panal_text">
          <div class="header_br" *ngIf="header">Solid-Liquid Separation</div>
        </div>
      </div>

      <div class="grid_container">
        <div class="grid" *ngFor="let data of this.items;let i=index" (click)="tab(i)"
          [style.background-image]="'url('+data.image+')'">
          <div class="text" [innerHtml]="data.text"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fullpage" *ngIf="showvideo">
  <div class="flexheader">
    <div class="dummy"></div>
   <div class="text" [innerHtml]="this.items[selectedtab].text"> </div>
   
      <div class="image" (click)="close()" style="cursor: pointer;">
    <img src="assets/images/home.png">
    <hr>
    </div>
   
  </div>
  <div class="videoclass">
    <div class="content" [ngClass]="{'open': this.shown == true}">
      <div class="fullheight flex flex-row" *ngIf="this.items[selectedtab].text == 'Centrifugal separation'">
        <div class="flex-1">
          <div class="img" *ngIf="playVideo == false" (click)="playVideo = true"
            [style.backgroundImage]="'url('+this.items[selectedtab].videoimge+')'">
            <!-- <img src="{{this.items[selectedtab].videoimge}}" (click)="playVideo = true" alt=""> -->
          </div>
          <iframe class="iframe flex-1" *ngIf="playVideo == true" width="100%"
            [src]="this.items[selectedtab].link+'?autoplay=1' | safe:'resourceUrl'" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <div class="framedata">
          <div class="alignflex">
            <div class="title">{{this.items[selectedtab].text1}}
              <div *ngIf="this.items[selectedtab].text == 'Centrifugal separation'">
                <div class="tabcontent">
                  <P [innerHtml]="this.items[selectedtab].defn" class="parag" *ngIf="para"> </P>
                  <div class="tabgroup" [ngClass]="selectedItem == -1 ? 'hide' : 'show'">
                    <div class="tabcontentdata scrollbar" *ngIf="selectedItem == 1"
                      [innerHtml]="this.items[selectedtab].pros"></div>
                    <div class="tabcontentdata scrollbar" *ngIf="selectedItem == 2"
                      [innerHtml]="this.items[selectedtab].cons"></div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <mat-icon *ngIf="hidden" (click)="hide()" class="icon">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="shown" (click)="show()" class="icon">keyboard_arrow_up</mat-icon>
        </div>
      </div>





      <div class="panal decanter" *ngIf="this.items[selectedtab].text == 'Decanter Centrifuge'">
        <div class="text_title sidetitle">{{this.items[selectedtab].text1}}</div>
        <div class="pros_text" [innerHtml]="this.items[selectedtab].pros">{{this.items[selectedtab].pros}}</div>
        <h3 class="text-center">Decanter Centrifuge Technology - <u>Click to view</u></h3>
        <div class="imagecontent">


          <div class="imagetextcontent">

            <div *ngFor="let data of this.decanterdata; let i = index" class="imagetext"
              [ngClass]="{'changecolor': this.selecteddesc == i}">
                         
              <div (click)="title(i)" [innerHtml]="data.title" class="buttontitle"></div>
              <div class="item"
                [ngClass]="{'active': this.selecteddesc == i , 'not-selected' : data.selected != true }">
              <button class="decbtn" (click)="title(i)">+</button>
              </div>
             

            </div>
          </div>

        </div>
        
             <div class="desc">
               <div class="desctitle sidetitle" [innerHtml]="decanterdata[selecteddesc].title"></div>
               <div class="desccontent"  [innerHtml]="decanterdata[selecteddesc].desc"></div>
             </div>
        <div class="optimize">
          <div class="decpanel">
            <div class="subtitle sidetitle">Decanter optimisation</div>

            <div class="image">
              <img src="assets/images/Card2.png">
            </div>
          </div>

          <div class="process">
            <div class="subtitle buttontext sidetitle" (click)="selectedprocess = this.selectedprocess ? false : true">
              Process
              parameters</div>
            <div *ngIf="selectedprocess">

              <div class="image">
                <img src="assets/images/eqn.png">
              </div>

              <div class="flexbetween">
                <div class="samebg content1" [ngClass]="{'showimage': image1 == true}">
                  <div class="graphtitle" (click)="this.image1 = true">Feed Rate</div>
                  <img src="assets/images/graph-01.png">
                </div>
                <div class="samebg content2" [ngClass]="{'showimage': image2 == true}">
                  <div class="graphtitle" (click)="this.image2 = true">Particle Size</div>
                  <img src="assets/images/graph-01.png">
                </div>
                <div class="samebg content3" [ngClass]="{'showimage': image3 == true}">
                  <div class="graphtitle" (click)="this.image3 = true">Viscosity</div>
                  <img src="assets/images/graph-01.png">
                </div>
              </div>

            </div>
          </div>
          <div class="process">
            <div class="subtitle buttontext sidetitle"
              (click)="selectedprocess1 = this.selectedprocess1 ? false : true">Decanter parameters</div>
            <div *ngIf="selectedprocess1">

              <div class="tabletext">

                <div class="text">
                  <p>Differential speed (Δn) → Difference between the bowl and screw speed.</p>
                </div>
                <div class="table">
                  <table>
                    <tr>
                      <th>Too high</th>
                      <th>Too low</th>
                    </tr>
                    <tr>
                      <td>Clean filtrate</td>
                      <td>Dirty filtrate</td>
                    </tr>
                    <tr>
                      <td>Wet cake</td>
                      <td>Dry cake</td>
                    </tr>
                    <tr>
                      <td>The volume of the decanter is not fully utilised</td>
                      <td>Screw – high torque</td>
                    </tr>
                    <tr>
                      <td>Screw – low torque</td>
                      <td></td>
                    </tr>

                  </table>
                </div>
              </div>


              <div class="tabletext tabletextlast">

                <div class="text">
                  <p>Pond depth (impeller) → Controls the liquid level inside the decanter.</p>
                  <img src="assets/images/graph-04.png">
                </div>
                <div class="table">
                  <table>
                    <tr>
                      <th>Deep</th>
                      <th>Shallow</th>
                    </tr>
                    <tr>
                      <td>Allows more room for liquid clarification.</td>
                      <td>Dirty filtrate</td>
                    </tr>
                    <tr>
                      <td>Clean filtrate</td>
                      <td>Dry cake</td>
                    </tr>
                    <tr>
                      <td>The volume of the decanter is not fully utilisedWet cake</td>
                      <td></td>
                    </tr>
                  </table>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>








      <div>
        <div class="model" [style.backgroundColor]='selectedTab.color' *ngIf="selectedTab != undefined">
          <div class="text medium-font white-text">
            <p>{{items}}</p>
            <p [innerHTML]="selectedTab.description"></p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="panal overfl" *ngIf="selectedtab  == 2">
          <div class="sidetitle widthtext">Working principle of stack disk centrifuge</div>
          <app-stack-disk-centrifuge></app-stack-disk-centrifuge>
        </div>
      </div>

      <!--<div class="close_btn button" (click)="close()">
        X
      </div>-->
    </div>
  </div>
</div>
