<div class="header">
  <div class="para bg-primary" *ngIf="header">
    <div class="panal_text">
      <div class=""><u>Centrifugal Separation: Basics and Working Principle</u></div>
    </div>
  </div>
  <div class="container" *ngIf="header">
    <div class="mainpage">

      <div class="subtexts">
        <p class="semi-bold">Welcome to the course, Centrifugal Separation: Basics and Working Principle.</p>
        <p>By the end of this course, you will be able to understand:</p>
        <ul>
          <li>The basics of centrifugal separation</li>
          <li>Working principle of decanter and stack disc centrifuge</li>
          <li>Decanter optimization</li>
        </ul>

      </div>
      <div class="grid_container">
        <div class="grid" *ngFor="let data of this.items;let i=index">
          <div class="grid-img">
            <img src="{{data.image}}" alt="">
          </div>
          <div class="text" (click)="tab(i)" [innerHtml]="data.text"></div>
        </div>
      </div>
      <p class="subtexts text-center"><i>Click each topic to know more.</i></p>
    </div>
    <div class="imagetextcontent opacity dissolve">
    </div>
    <div class="back_img opacity dissolve"></div>
  </div>

</div>

<div class="fullpage" *ngIf="showvideo">
  <div class="flexheader">
    <!-- <div class="dummy"></div> -->
    <div class="text" [innerHtml]="this.items[selectedtab].text"> </div>
    <div class="image" (click)="close()" style="cursor: pointer;">
      <img src="assets/images/home.png">
      <hr>
    </div>
  </div>
  <div class="videoclass">
    <div class="content" [ngClass]="{'open': this.shown == true}">

      <div class="videoflow">
        <div class="fullheight flex-col video-panel" *ngIf="this.items[selectedtab].text == 'Centrifugal Separation'">
          <div class="">
            <!--<div class="img" *ngIf="playVideo == false" (click)="playVideo = true"
            [style.backgroundImage]="'url('+this.items[selectedtab].videoimge+')'">
            <img src="{{this.items[selectedtab].videoimge}}" (click)="playVideo = true" alt="">
          </div>-->
          <video class="iframe" width="100%" controls autoplay
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
            <source src="assets/video/v1.mp4" type="video/mp4">
           
          </video>
         <!-- <iframe class="iframe flex-1" *ngIf="playVideo == true" width="100%"
            src="assets/video/v1.mp4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>-->
            <div class="framedata">
              <div class="alignflex">
                <div class="title">{{this.items[selectedtab].text1}}
                  <div *ngIf="this.items[selectedtab].text == 'Centrifugal separation'">
                    <div class="tabcontent">
                      <P [innerHtml]="this.items[selectedtab].defn" class="parag" *ngIf="para"> </P>

                      <div class="tabgroup" [ngClass]="selectedItem == -1 ? 'hide' : 'show'">
                        <div class="tabcontentdata scrollbar" *ngIf="selectedItem == 1"
                          [innerHtml]="this.items[selectedtab].pros"></div>
                        <div class="tabcontentdata scrollbar" *ngIf="selectedItem == 2"
                          [innerHtml]="this.items[selectedtab].cons"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <mat-icon *ngIf="hidden" (click)="hide()" class="icon">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="shown" (click)="show()" class="icon">keyboard_arrow_up</mat-icon> -->
            </div>
          </div>
          <p class="subtexts text-center"><i>Click to play the video.</i></p>
          <p>Click <a
              href="https://cargill-admin.ancileuperform.com/ucontent/fc999dd78eb548eda8ef1fbd1989f0d2_en-US/index.pdf"
              target="_blank">here</a> to explore Stokes’ Law.</p>
          <p class="paddingbottom">Click <a
              href="https://cargill-admin.ancileuperform.com/ucontent/be638dc2b42c4bb9ae6b7c6dfbf831a7_en-US/index.pdf"
              target="_blank">here</a> to explore The Principle of Centrifugal Separation. </p>
        </div>


        <!--<div class="close_btn button" (click)="close()">
        X
      </div>-->


        <div *ngIf="selectedtab  == 1">
          <app-decanter></app-decanter>
        </div>

        <div>
          <div class="model" [style.backgroundColor]='selectedTab.color' *ngIf="selectedTab != undefined">
            <div class="text medium-font white-text">
              <p>{{items}}</p>
              <p [innerHTML]="selectedTab.description"></p>
            </div>
          </div>
        </div>

        <div class="">
          <div class="panal overfl" *ngIf="selectedtab  == 2">
            <!--<div class="sidetitle widthtext">Working principle of stack disk centrifuge</div>-->
            <app-stack-disk-centrifuge></app-stack-disk-centrifuge>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
